<!DOCTYPE html>
{% extends 'todo/base.html' %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Completed</title>
</head>
<body>



{% block content %}

Completed

    <ul>

    {% for todo in todos %}

    <li>
        <a href={% url 'view_todo'  todo.id %}>
        {% if todo.important %}
            <b>
        {% endif %}
            {{ todo.title }}
        {% if todo.important %}
            </b>
        {% endif %}

        {% if todo.content %}
            - {{ todo.content   }}
        {% endif %}
        {{ todo.date_completed|date:'M j Y H:i' }}
        </a>
    </li>

    {% endfor %}

    </ul>

{% endblock %}

</body>
</html>